{% extends 'base.html' %}
{% block content %}
<header>

<a href="{% url 'mes_demandes_envoyees' %}">[Demandes Envoyées]</a>
{% if user.est_prof %}
<a href="{% url 'mes_demandes_recues' %}">[Demandes Recues]</a>
{% endif %}

</header>

{% for demande in demandes_liste %}

    <p><h3>Cours de {{ demande.matiere }}</h3> 
    Repetiteur : {{ demande.prof.first_name }} {{ demande.prof.last_name }}
    <br>Élève : {{ demande.eleve.first_name }} {{ demande.eleve.last_name }}
    <br>Date : {{ demande.date }}
    <br>Heure : {{ demande.heure }}
    <br>Lieu : {{ demande.lieu}}
    <br>Statut : {{ demande.get_statut_display }}

    {% if demande.statut == "en_attente" and demande.prof == request.user %}
        <br>
        <a href="{% url 'repondre_demande' demande.id %}">[Répondre à la demande]</a>
    {% endif %}
    {% if demande.eleve == request.user or demande.prof == request.user %}
        <br><a href="{% url 'supprimer_demande' demande.id %}">[Supprimer]</a>
    {% endif %}</p>

{% endfor %}

{% endblock %}