{% extends 'base.html' %}
{% block content %}
<h2>Recherche de répétiteurs</h2>
<a href="{% url 'home' %}">[Retour à l'aceuil]</a>

<form method="get">
    {{ form.as_p }}
    <button type="submit">Rechercher</button>
</form>

<hr>

{% for repetiteur in repetiteurs_liste %}

    <h3><a href="{% url 'profil' repetiteur.id %}">
    {{ repetiteur.first_name }} {{ repetiteur.last_name }}
    </a></h3>
    <p>Âge : {{repetiteur.age}} ans
    <br>Ville : {{ repetiteur.ville }}
    <br>Tarif : {{ repetiteur.tarif }}
    <br>Niveau d'études : {{ repetiteur.niveau_etudes }}
    <br>Matère(s) : 
    <ul>
    {% for sujet in repetiteur.sujets_prof.all %}
        <li>{{ sujet.nom }}</li>
    {% endfor %}
    </ul>
    <br>Adresse électronique : {{ repetiteur.email }}</p>

{% endfor %}
{% endblock content %}