{% extends 'base.html' %}
{% block content %}
    <head>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    </head>

    <div class="w3-card-4 w3-white w3-round-xlarge w3-padding w3-left-align" style="width: 50%; margin: auto;">
        <h2>Nouvelle photo de profil</h2>
        <form method="post" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit" class="w3-button w3-indigo w3-round-xxlarge w3-hover-light-blue">Terminer</button>
        </form>
    </div>

    <div class="w3-center w3-padding-16">
        <a href="{% url 'mon_compte' %}" class="w3-button w3-blue-gray w3-round-xxlarge w3-hover">Retour</a>
    </div>
{% endblock content %} 